extends layout

block content
  div.starter-template
    if (message)
      p= message
    table.table.table-bordered.table-striped
      thead
        tr
          th Question
          th Answer
          th Tags
          th Edit
          th Delete
      tbody
        - each answer in answers
          tr
            td= answer.question
            td= answer.answer
            td= answer.tags_str
            td
              form(method='get', action='/answers/:id/edit') 
                input(name='_id', type='hidden', value=answer.id) 
                input.btn.btn-small(value='Edit', type='submit')
            td
              form( method='post', action='/answers/:id/delete') 
                input(name='_id', type='hidden', value=answer._id.toHexString()) 
                input.btn.btn-small(value='Delete', type='submit')

    ul.pagination
      - if (currentPageNum > 1)
        li
          a(href='/answers?skipRecs=' + (currentPageNum - 2) * 10) &laquo

      - each pageNum in pageNums
        - if (currentPageNum == pageNum)
          - listClass = 'active'
        - else
          - listClass = ''

        li(class=listClass)
          a(href='/answers?skipRecs=' + ((pageNum - 1) * 10))= pageNum

      - if (currentPageNum < pageNums[pageNums.length - 1])
        li
          a(href='/answers?skipRecs=' + currentPageNum * 10) &raquo;

    p
      a.btn.btn-primary(href='/answers/new') Add an Answer
