extends layout

block content
  div.starter-template
    table.table.table-bordered
      thead
        tr
          th Question
          th Answer
          th Tags
          th Edit
          th Delete
      tbody
        - each answer in battleAnswers
          tr
            td= answer.question
            td= answer.answer
            td= answer.tags
            td
              form( method='get', action='/answers/:id/edit') 
                input(name='_id', type='hidden', value=answer._id.toHexString()) 
                input.btn.btn-small(value='Edit', type='submit')
            td
              form( method='post', action='/answers/:id/delete') 
                input(name='_id', type='hidden', value=answer._id.toHexString()) 
                input.btn.btn-small(value='Delete', type='submit')

    a(href="/answers/new", class="btn btn-primary") Add an Answer
