doctype 5
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/starter-template.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='navbar navbar-inverse navbar-fixed-top')
      div.container
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')!= 'Battle Answers'
        div(class='nav-collapse collapse')
          ul(class='nav navbar-nav')
            li(class= (path != undefined && path.substring(0, 7) === '/search' ? 'active' : ''))
              a(href='/search/new')!= 'Search for Answers'
            li(class= (path != undefined && path.substring(0, 18) === '/submitted_answers' ? 'active' : ''))
              a(href='/submitted_answers/new')!= 'Submit an Answer'
            if (user)
              if (user.roles.indexOf('rules-admin') != -1)
                li(class= (path != undefined && path.substring(0, 8) === '/answers' ? 'active' : ''))
                  a(href='/answers?skipRecs=0')!= 'Maintain Answers'
              if (user.roles.indexOf('super') != -1)
                li(class= (path != undefined && path.substring(0, 6) === '/users' ? 'active' : ''))
                  a(href='/users')!= 'Maintain Users'
              li
                a(href='/logout')!= 'Log Out, ' + user.username
            else
              li
                a(href='/login')!= 'Login'

    div.container
      block content

    script(src='http://code.jquery.com/jquery.js')
    script(src='/javascripts/bootstrap.min.js')

    div.well Copyright &copy; 2013 Jamey Cribbs
